<h1 class="heading-large">Guidance</h1>

<h2 class="heading-medium" id="request_access">Request an account</h2>
	<p>Gain access to <a target="_blank" href="https://www.civilservicejobs.service.gov.uk/csr/index.cgi">Civil Service Jobs</a> by completeing an account request form. You can also use this form to create accounts for your panel members.</p>
		<div class="attach" class="cf">
			<div class="attachLeft">
				<a href="doc/"><%= image_tag("file.png", class: "border") %></a>
			</div>
			<div class="attachRight">
				<a class="attachLink" href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/397851/CS_Jobs_Account_Request_Form.doc">Account Request Form</a>
				<p>MS Word Document, 142KB</p>
			</div>
		</div>
	<p>Only list individuals if they have never had an account. You will need to contact your panel members to check prior to completing the form.</p>
	<p>Panel members will need access if you want to send them invites to attend interviews, view applications or input scores and feedback online.</p>
	<p>Give your panel members access to your vacancy before your vacancy is advertised. Once 'live' you cannot add or remove panel members until after the closing date. </p>

<h2 class="heading-medium" id="create_vacancy">Create your vacancy</h2>

<h2 class="heading-medium" id="review_applicants">Review applications</h2>

<h2 class="heading-medium" id="upload_sift">Upload shortlisting results</h2>

<h2 class="heading-medium" id="interviews">Setup interviews</h2>

<h2 class="heading-medium" id="interview_results">Upload interview results</h2>

<ul class="list list-bullet">
	<li>Example list</li>
</ul>
</div>
