<h1 class="heading-large">Guidance</h1>

<h2 class="heading-medium" id="request_access">Request access</h2>

<h2 class="heading-medium" id="create_vacancy">Create your vacancy</h2>

<h2 class="heading-medium" id="review_applicants">Review applications</h2>

<h2 class="heading-medium" id="upload_sift">Upload shortlisting results</h2>

<h2 class="heading-medium" id="interviews">Setup interviews</h2>

<h2 class="heading-medium" id="interview_results">Upload interview results</h2>

<ul class="list list-bullet">
	<li>Example list</li>
</ul>
</div>
